/*
@font-face {
    font-family: "Calibri";
    src: url('/fonts/CALIBRI_0.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Calibri";
    src: url('/fonts/CALIBRIB_0.TTF');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Calibri";
    src: url('/fonts/CALIBRII_0.TTF');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Calibri";
    src: url('/fonts/CALIBRIZ_0.TTF');
    font-weight: bold;
    font-style: italic;
}
*/
@font-face {
    font-family: "Calibri";
    src: url('/fonts/CALIBRIL.TTF');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Calibri";
    src: url('/fonts/CALIBRILI.TTF');
    font-weight: 200;
    font-style: italic;
}
body {
    margin: 0;
    padding: 0;
    font-size: 12pt;
    /*
    background-image: 
      -webkit-linear-gradient(0deg, transparent 5em, rgba(0,0,0,0) 0, transparent 5.1em),
      -webkit-linear-gradient(rgba(0,0,0,.1) 1px, transparent 0);
    -webkit-background-size: 100% 2em;
    background-image: 
      linear-gradient(0deg, transparent 5em, rgba(0,0,0,0) 0, transparent 5.1em), 
      linear-gradient(rgba(0,0,0,.1) 1px, transparent 0);
    background-size: 100% 16pt;
    */
}
p, span, div {
    font-family: Calibri, sans-serif;
    font-weight: 200;
}
a {
    color: #777;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    font-weight: 200;
}
h1 {
    margin: 20px 0;
    font-family: Calibri, sans-serif;
    font-weight: 200;
    letter-spacing: 0.05em;
}
h1, h1 a {
    font-size: 18pt;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}
header {
    height: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 80px;
    white-space: nowrap;
    position: relative;
}
header h1 {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: 200;
    letter-spacing: 0.1em;
    color: #777;
    display: inline-block;
    width: 300px;
}
header h1 a {
    color: #000;
    font-size: 18pt;
    font-weight: 200;
}
header nav ul li a {
    font-family: Calibri, sans-serif;
    font-weight: 200;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 0.1em;
}
header nav ul li.selected a {
    color: #777;
}
#content {
    position: relative;
    padding: 60px 30px 30px;
}
div.exhibition {
    font-family: Calibri,sans-serif;
    font-size: 11pt;
    font-weight: 200;
}
div.exhibition h2 {
    margin: 20px 0 0;
    padding: 0;
}
div.exhibition p {
    margin: 0;
    padding: 0;
}
div.large-column {
    margin-bottom: 60px;
}
div.large-column img.feature {
    width: 100%;
}
div.large-column ul.exhibition-listing {
    margin-right: 20px;
}
h2 {
    font-family: Calibri,sans-serif;
    font-weight: 200;
    font-size: 14pt;
    color: #000;
    text-transform: uppercase;
}
h2 a {
    color: #000;
}
h3 {
    font-family: Calibri,sans-serif;
    font-weight: 200;
    font-size: 14pt;
}
h4 {
    font-family: Calibri,sans-serif;
    font-weight: 200;
    font-size: 11pt;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}
img.thumbnail {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
ul.thumbnails {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.thumbnails li {
    font-family: Calibri, sans-serif;
    font-weight: 200;
    font-size: 11pt;
    display: inline-block;
    width: 50%;
    height: 180px;
    margin-bottom: 30px;
    position: relative;
    vertical-align: middle;
}
ul.thumbnails li div {
    position: relative;
    height: 128px;
    margin: 20px 20px 0 20px;
}
ul.thumbnails li a.artist {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0px;
    text-align: center;
    background-color: #fff;
}
ul.thumbnails li p {
    text-align: center;
}

ul.news {
    list-style-type: none;
    padding: 0;
    margin-right: -20px;
}
ul.news li.story {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 20px;
}
ul.news li.story > * {
    margin-right: 20px;
}
ul.news li.story div.text, ul.news li.story div.image {
    max-height: 195px;
    position: relative;
    line-height: 21px;
}
ul.news li.story div.text div {
    max-height: 185px;
    overflow: hidden;
}
ul.news li.story div.text div p {
    margin: 0 0 21px 0;
    padding: 0;
}
ul.news li.story div.image.text img {
    float: left;
    margin: 0 10px 10px 0;
}
ul.news div.text a.more {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #999;
    color: #fff;
    font-size: 30px;
    padding: 0 6px 3px;
}
ul.news li.story h4 {
    clear: both;
    margin-bottom: 0;
}
ul.news li.story ul.links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media all and (max-width: 959px) {
    #menuButton {
        font-family: Calibri, sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        position: absolute;
        top: 8px;
        right: 0px;
        font-size: 11pt;
    }
    header nav {
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
        padding-bottom: 30px;
        background-color: #fff;
        z-index: 10;
        display: none;
    }
    header nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    header nav ul li {
        padding: 5px;
        border-bottom: 1px solid #eee;
    }
    header nav ul li:hover {
        background-color: #eee;
    }
}
@media all and (min-width: 640px) {
    div.large-column.left {
        position: absolute;
        left: 30px;
        top: 180px;
        right: 50%;
        margin-right: 10px;
    }
    div.large-column.right {
        position: absolute;
        left: 50%;
        top: 180px;
        right: 30px;
        margin-left: 10px;
    }
    ul.thumbnails li {
        width: 33.33%;
    }
    ul.news li.story {
        width: 50%;
    }
}
@media all and (min-width: 960px) {
    #content {
        max-width: 900px;
        margin: 0px auto;
    }
    #menuButton {
        display: none;
    }
    header nav {
        font-size: 11pt;
        width: 596px;
        display: inline-block;
        text-align: right;
    }
    header nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    header nav ul li {
        display: inline-block;
        padding: 0 0 0 10px;
        margin: 0;
    }
    ul.thumbnails li {
        width: 25%;
    }
}
a.feature {
    display: block;
    position: relative;
    max-width: 440px;
    max-height: 235px;
    width: 100%;
    height: 235px;
    overflow: hidden;
}
img.feature {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}
.artist {
    color: #999;
}
div.exhibitions div.exhibition {
    margin-bottom: 40px;
}
div.exhibitions div.exhibition h2 {
    margin-top: 10px;
}
img.exhibition-feature {
    width: 100%;
}
.linkGroup a.selected {
    color: #000;
}
div.imageInfo {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 90px;
    padding: 5px 10px;
    height: 20px;
}
div.previous {
    position: absolute;
    top: 0px;
    right: 60px;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}
div.next {
    position: absolute;
    top: 0px;
    right: 30px;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}
div.close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}
div.slide, div.tempSlide {
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
div.slide img, div.tempSlide img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
div.previous.disabled a, div.next.disabled a {
    color: #ccc;
}
div.imageViewer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}
div.subscribe {
    background-color: #eee;
    padding: 5px 0 0 10px;
    white-space: nowrap;
}
div.subscribe div {
    position: relative;
    display: inline-block;
    margin: 0 0 15px 0;
    padding: 0;
    white-space: nowrap;
    width: 25%;
}
div.subscribe label, div.subscribe input {
    display: block;
    width: 80%;
}
div.contact {
    white-space: nowrap;
}
div.contact div.column, div.contact div.map {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}
div.contact div.column {
    width: 25%;
}
div.contact div.map {
    text-align: right;
    width: 49%;
    padding-top: 15px;
}
@media (max-width: 320px) {
    div.subscribe {
        white-space: normal;
    }
    div.subscribe div {
        display: block;
        width: 100%;
    }
    div.subscribe label, div.subscribe input {
        width: 100%;
    }
}
@media (min-width: 321px) and (max-width: 640px) {
    div.subscribe {
        white-space: normal;
    }
    div.subscribe div {
        width: 48%;
    }
}
object.cv {
    min-height: 1165px;
}
/*TODO*/
@media (max-width: 899px) {
    div.contact {
        white-space: normal;
    }
    div.contact div.column, div.contact div.map {
        display: block;
        width: 100%;
        text-align: left;
    }
}
@media (min-width: 900px) {

}