*/.DS_Store*
.DS_Store*
.DS_Store
images/185/*
images/original/*
images/w440/*
images/w900/*
images/900x480/*
images/440x235/*
images/2mp/*
*.bmp

*.png

*.pdf

.idea/workspace.xml

.idea/deployment.xml

.idea/workspace.xml

.DS_Store

.DS_Store

.idea/workspace.xml
